<section>
  <h1 class="h3 accent-after accent-magenta content-none--before">
    The page you were looking for doesn't exist (404)
  </h1>
  <h2 class="border-0">You may have mistyped the address or the page may have moved.</h2>
  <p class="h2 margin-top-4">
    If you are the application owner check the logs for more information.
  </p>
</section>
