<section>
  <h1 class="h3 accent-after accent-magenta content-none--before">
    The change you wanted was rejected (422)
  </h1>
  <h2 class="border-0">Maybe you tried to change something you didn't have access to.</h2>
  <p class="h2 margin-top-4">
    If you are the application owner check the logs for more information.
  </p>
</section>
