<section>
  <h1 class="h3 accent-after accent-magenta content-none--before">
    We're sorry, but something went wrong. (500)
  </h1>
  <p class="h2 margin-top-4">
    If you are the application owner check the logs for more information.
  </p>
</section>
